<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img  width="40" height="32" src="assets/img/favicon.jpg" alt="Logo da orquestra sinfônica carioca">
      <span class="fs-4">Orquestra Sinfônica Carioca</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="/integrantes" class="nav-link">Integrantes</a></li>
      <li class="nav-item"><a routerLink="/shows" class="nav-link">Shows</a></li>
      <li class="nav-item"><a routerLink="/fale" class="nav-link">Fale Conosco</a></li>
    </ul>
  </header>
