<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a routerLink="/integrantes" class="nav-link px-2 text-body-secondary">integrantes</a></li>
      <li class="nav-item"><a routerLink="/shows" class="nav-link px-2 text-body-secondary">Shows</a></li>
      <li class="nav-item"><a routerLink="/fale" class="nav-link px-2 text-body-secondary">Fale Conosco</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2023 Micael de Oliveira Santana</p>
  </footer>
