<div class="margin">
<!-- Card deck -->
<div class="card-deck">

  <!-- Card -->
  <div class="card mb-4">

    <!-- Card group -->
<div class="card-group">

  <!-- Card -->
  <div class="card mb-4">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="assets/img/alemanha.jpg"
        alt="Teatro Alemão">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title">Alemanha</h4>
      <!-- Text -->
      <p class="card-text">She Past Away concerto em Augsburg, Descobre She Past Away em Augsburg, é um concerto que se realiza no dia 28/04/2023 às 19:30 no Kantine Augsburg, Augsburg, Alemanha.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-primary btn-md">Saiba mais</button>

    </div>
    <!-- Card content -->

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="assets/img/paris.jpg"
        alt="Teatro Francês">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <h4 class="card-title">Paris</h4>
      <!-- Text -->
      <p class="card-text">Desfrute de algumas das mais belas músicas para piano de Mozart, Beethoven, Schubert, Bach e Chopin e muitas outras interpretadas pela melhor nova geração de pianistas na atmosfera romântica de uma das igrejas mais antigas de Paris.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-primary btn-md">Saiba mais</button>

    </div>
    <!-- Card content -->

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="assets/img/tokyo.jpg"
        alt="Teatro Japonês">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title">Tokyo</h4>
      <!-- Text -->
      <p class="card-text">Concerto em homenagem ao músico, Ryuichi Sakamoto</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <button type="button" class="btn btn-primary btn-md">Saiba mais</button>

    </div>
    <!-- Card content -->

  </div>
  <!-- Card -->

</div>
<!-- Card group -->