<section class="team text-center py-5">
    <div class="container">
      <div class="header my-5">
        <h1>Integrantes</h1>
        <p class="text-muted">...</p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="img-block mb-5">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
            <div class="content mt-2">
              <h4>Carla Muzytz</h4>
              <p class="text-muted">Violinista</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ">
          <div class="img-block mb-5">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
            <div class="content mt-2">
              <h4>Sandra de Melo</h4>
              <p class="text-muted">Pianista</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="img-block mb-5">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
            <div class="content mt-2">
              <h4>Fabricio Noronha</h4>
              <p class="text-muted">Harpista</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="img-block mb-5">
            <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg" class="img-fluid  img-thumbnail rounded-circle" alt="image1">
            <div class="content mt-2">
              <h4>Leandro de Albuquerque</h4>
              <p class="text-muted">Maestro</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
